/*
CSS code for testimonials page of Slate & Pencil Tutoring
Author: Felix Chen
Date: 08/22/23
File name: testimonials.css
*/

main {
  display: grid;
  grid-template-columns: 1fr 1f;
  grid-template-areas:
    "one         two"
    "three       four"
    "five        six";
}

aside img {
  width: 20%;
}

aside:nth-child(1) {
  grid-area: one;
}

aside:nth-child(2) {
  grid-area: two;
}

aside:nth-child(3) {
  grid-area: three;
}

aside:nth-child(4) {
  grid-area: four;
}

aside:nth-child(5) {
  grid-area: five;
}

aside:nth-child(6) {
  grid-area: six;
}

aside {
  width: 76%;
  padding-bottom: 30px;
  padding-top: 70px;
  margin-right: 85px;
  margin-left: 20px;
}

aside:nth-of-type(odd) {
  justify-self: end;
}

aside img {
  float: left;
  width: 20%;
}

aside p {
  float: left;
  width: 75%;
  margin-left: 5%;
  padding-top: 15px;
  color: rebeccapurple;
}
